absl-py==0.5.0
astor==0.7.1
certifi==2018.8.24
Click==7.0
cycler==0.10.0
et-xmlfile==1.0.1
fasttext==0.8.3
ftfy==5.5.0
future==0.16.0
gast==0.2.0
grpcio==1.15.0
h5py==2.8.0
jdcal==1.4
joblib==0.12.5
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
languageflow==1.1.7a3
Markdown==3.0.1
matplotlib==3.0.0
numpy==1.15.2
openpyxl==2.5.8
pandas==0.23.4
protobuf==3.6.1
pyparsing==2.2.2
python-crfsuite==0.9.5
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
scikit-learn==0.20.0
scipy==1.1.0
six==1.11.0
tensorboard==1.11.0
tensorflow==1.11.0
termcolor==1.1.0
underthesea==1.1.8
wcwidth==0.1.7
Werkzeug==0.14.1
xlrd==1.1.0
